.icons{
    height : 60px; 
    padding : 10px
}
.logo {
    height : 50px;
    width : 200px;
}
.icons-row{
    
    list-style-type: none;
    
    
}
.icons-row li {
    display: inline;
    
}
@media (max-width:810px){
    .icons-row{
        display :none
    }
    #login{
        display : none
    }
}