body{
    width : 100%;
    margin : 0;
    padding : 0;
    height : 100%;
}
.icons{
    height : 60px; 
    padding : 10px
}
.logo {
    height : 50px;
    width : 200px;
}
.icons-row{
    
    list-style-type: none;
    
    
}
#myCarousel{
    color : black
}
.icons-row li {
    display: inline;
    
}
#hamburger{
    display : none;
}
@media (max-width:810px){
    .icons-row{
        display :none
    }
    #login{
        display : none
    }
    #hamburger{
        display : contents;
        float : right;
        right : 0;
        top : 0
    }
}
