body{
    width : 100%;
    margin : 0;
    padding : 0;
    height : 100%;
}
.icons{
    height : 60px; 
    padding : 10px
}
.logo {
    height : 50px;
    width : 200px;
}
.icons-row{
    
    list-style-type: none;
    
    
}
#navbar{
    overflow : hidden;
    background : black
}
#myCarousel{
    color : rgb(8, 8, 8);
    margin-top : 10%
}
.icons-row li {
    display: inline;
    
}
#hamburger{
    display : none;
}
.carousel-img{
    height : 80vh;
}
.navbar-list{
    display : none;
}
@media (max-width:810px){
    .icons-row{
        display :none
    }
    #login{
        display : none
    }
    #hamburger{
        position : absolute;
        display : inline;
    
        top : 20px;
        right : 10px;
        
    }
    .navbar-list{
        display: inline
    }
    .carousel-img{
        height : 35vh;
    }
    .myCards{
        text-align: center
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
